<h1>Інформація про студента</h1>
<p>Насибулін Євген Сергійович, народився 19 листопада 2003 року у місті Авдіївка,
Донецька область, Україна.<br>
  У 6-річному віці почав навчання у ЗОШ №7 м. Авдіївка, де навчався на протязі 5
классів до 2014 року. У цьому році переїхав до м. Трускавець, Лвівська область,
Україна, де навчався у 6-7 классах, після чого повернувся до рідного міста та
продовжив навчання у 8-11 класів у ЗОШ №6 м. Авдіївка. <br>
  По закінченню школи перехіхав до м. Харкова, де поступив до вищого навчального
  закладу ХНЕУ, де й навчається й сьогодні на 3 курсі бакалаврату.</p>